.theme-light {
    /* --bg-hue: 230; */
    /* --bg-sat: 25%; */

  /* make shimmering focus theme color follow Obsidian apperance choice */
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
    --interactive-accent: var(--color-accent);
  
    --alt-heading-color: hsl(232 34% 50%);
    --secondary-accent: hsl(28 54% 51%);
    --hover-accent: hsl(328 100% 54%);
    --link-unresolved-color: hsl(101 42% 51%);
}

.theme-dark {
    /* --bg-hue: 230; */
    /* --bg-sat: 15%; */

  /* make shimmering focus theme color follow Obsidian apperance choice */
    --color-accent:       hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-hsl:   var(--accent-h), var(--accent-s), var(--accent-l);
    --interactive-accent: var(--color-accent);

    --alt-heading-color: hsl(232 50% 70%);
    --secondary-accent: hsl(28 63% 61%);
    --hover-accent: hsl(328 100% 64%);
	--link-unresolved-color: hsl(101 42% 51%);
}

/* Hide the background color settings since they are overwritten by the custom colors above */ 
.style-settings-container .setting-item:is([data-id="bg-hue-light"],[data-id="bg-hue-dark"]) {
	display: none;
}

/* re-enable default obsidian accent color picker widget */
.mod-settings
	.vertical-tab-content
	> .setting-item:nth-child(2)
	> .setting-item-control
	> .extra-setting-button
	+ input[type="color"] {
	width: unset;
	visibility: unset;
}

.mod-settings
	.vertical-tab-content
	> .setting-item:nth-child(2)
	> .setting-item-control
	> .extra-setting-button
	> .lucide-rotate-ccw {
	display: unset;
}

.mod-settings
	.vertical-tab-content
	> .setting-item:nth-child(2)
	> .setting-item-control
	> .extra-setting-button
	+ input[type="color"]::before {
	display: none;
}